{% extends "base.html" %}
{% block content %}
<main>
    <h1>{{ page_title }}</h1>
    <div class="main-contact-form">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert-login" role="alert">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <form id="contact-form" action="{{ url_for('user.process_login') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="input-div">
                <input name="username" type="text" placeholder="User name" required size="40" maxlength="100"/>
            </div>
            <div class="input-div">
                <input name="password" type="password" placeholder="password" required size="40" maxlength="100"/>
            </div>
            <div class="input-div form-check-box">
                {{ form.remember_me(class_='form-check-tick') }}
                {{ form.remember_me.label(class_='form-check-label') }}
            </div>
            <div class="input-div last">
                <button type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="blank"></div>
</main>
{% endblock %}