{% extends "base.html" %}
{% block content %}
<main>
    <div class="blank"></div>
    <h1>{{ page_title }}</h1>
    <div class="main-contact-form">
        <div class="alert-login">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="danger" role="alert">
                        {{ message }}<br>
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>
        <form id="contact-form" action="{{ url_for('user.process_reg') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="input-div">
                <input name="username" type="text" placeholder="User name" required size="40" maxlength="100"/>
            </div>
            <div class="input-div">
                <input name="email" type="text" placeholder="Email" required size="40" maxlength="100"/>
            </div>
            <div class="input-div">
                <input name="password" type="password" placeholder="password" required size="40" maxlength="100"/>
            </div>
            <div class="input-div">
                <input name="password2" type="password2" placeholder="Repeat password" required size="40" maxlength="100"/>
            </div>
            <div class="input-div last">
                <button type="submit">register</button>
            </div>
        </form>
    </div>
    <div class="blank"></div>
</main>
{% endblock %}